.container {
    position: relative;
    padding-top: 60px;
}

.container-big {
    position: absolute;
    top: 60px;
    left: 0;
    padding-top: 0;
    margin: 0;
    box-sizing: content-box;
    width: 2278px;
}

.container-panel {
    position: fixed;
    left: 0;
    width: 30%;
    height: 90%;
    z-index: 9999;
}

.control-panel {
    height: 90%;
    background-image: url('./img/baiyun-demo.png');
    background-size: 100%;
    background-repeat: no-repeat;
}

.bs-component {
    position: fixed;
    z-index: 9999;
    width: 100%;
    top: 0;
    left: 0;
}

.heatmap-wrapper {
    position: relative;
    width: 2240px;
    height: 1800px;
    box-sizing: content-box;
    .heatmap-canvas {
        width: 100%;
        height: 100%;
    }
    .tooltip {
        position: absolute;
        left: 0;
        top: 0;
        background: rgba(0, 0, 0, .8);
        color: #fff;
        font-size: 14px;
        padding: 5px;
        line-height: 18px;
        display: none;
    }
    .legend-area {
        position: fixed;
        bottom: 0;
        right: 10px;
        #min {
            float: left;
        }
        #max {
            float: right;
        }
        span {
            font-size: 14px;
            margin: 0;
            padding: 0;
        }
        img {
            width: 100%;
        }
    }
}

.map {
    background-size: 100% 100%;
    background-image: url("~image/global.jpg");
}

.chart {
    position: fixed;
    z-index: 9999;
    &-1 {
        width: 50%;
        height: 50%;
        top: 10%;
        right: -15%;
    }
}

