$main-color: #008675;
$sub-color: #f2f2f2;
$hover-color: #eaeaea;

$font: 'Roboto', 'Helvetica', "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;

$border-radius: 3px;

$blue: #3190e8;
$bc: #e4e4e4;
$fc:#fff;


// 定位上下左右居中
@mixin center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// 定位上下居中
@mixin ct {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

// 定位左右居中
@mixin cl {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

// 宽高
@mixin wh($width, $height){
    width: $width;
    height: $height;
}

// 字体大小，颜色
@mixin fsc($size, $color){
    font-size: $size;
    color: $color;
}
