// ------------------------------
// MEDIA QUERIES
// ------------------------------

@media all and (min-width: 1300px) {

}

// ------------------------------
// < 1100px
// ------------------------------

@media all and (max-width: 1100px) {

}

// ------------------------------
// < 960px
// ------------------------------

@media all and (max-width: 960px) {
   
}

// ------------------------------
// < 340px
// ------------------------------

@media all and (max-width: 340px) {
    
}
