.heatmap{
    position: fixed;
    width: 100%;
    height: 100%;
}

.chart {
    position: fixed;
    z-index: 9999;
    &-1 {
        width: 50%;
        height: 50%;
        top: 10%;
        right: -15%;
    }
}