$mapWidth: 2240px;
$mapHeight: 1800px;
$boxShadowDeep: 6px 0px 17px 0 rgba(0, 0, 0, 0.2), 9px 5px 20px 0 rgba(0, 0, 0, 0.19);
$boxShadowNormal: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);

@import "section/main";
@import "section/control-panel";

