.container {
    position: relative;
    padding-top: 60px;
}

.container-big {
    position: absolute;
    top: 60px;
    left: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    .navbar-wrapper {
        position: fixed;
        z-index: 999999;
        width: 100%;
        top: 0;
        left: 0;
        .dropdown-menu {
            a {
                text-indent: 5px;
            }
            i {
                margin-top: -3px;
            }
        }
    }
    .heatmap-wrapper {
        position: relative;
        width: $mapWidth;
        height: $mapHeight;
        padding:0 !important;
        margin: 10px 0 19px 0 !important;
        box-sizing: content-box;
        @at-root .map {
            background-size: 100% 100%;
            background-image: url("~image/global.jpg");
        }
        .heatmap-canvas {
            width: 100%;
            height: 100%;
        }
        .tooltip {
            position: absolute;
            left: 0;
            top: 0;
            display: none;
        }
        .legend-area {
            position: fixed;
            bottom: 0;
            right: 10px;
            #min {
                float: left;
            }
            #max {
                float: right;
            }
            span {
                font-size: 14px;
                margin: 0;
                padding: 0;
            }
            img {
                width: 100%;
            }
        }
    }
    
    .progress-wrapper {
        position: fixed;
        bottom: 31px;
        left: 50%;
        width: 60%;
        transform: translate3d(-50%, 0, 0);
        .progress {
            height: 6px;
        }
    }
    
}






